/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

* {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    /*look up how to include fonts not inherently recognised by css*/
    /* background-color: #000000; */
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    min-width: 900px;
}

.header {
    font-size: 24px;
    color: #F9FaF8;
    background-color: #1F2937;
    display: flex;
    max-height: 150px;
    padding: 16px 12% 0 12%;
}

.logo {
    max-width: 8%;
    max-height: auto;
    flex: 1 1 auto;
}

.header-link {
    color: #E5E7EB;
    font-weight: 300;

}

ul {
    font-size: 18px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 8px;
    margin-left: auto;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
}

.container.one {
    background-color: #1F2937;
    display: flex;
    gap: 16px;
    padding: 6% 12% 6% 12%;
}

.info {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 8px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-right: 20%;

}

.hero-sub {
    font-size: 18px;
    color: #E5E7EB;

}

.container.one button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    padding: 5px;
    margin-right: 60%
}

.flower {
    max-width: 50%;
    height: auto;
    flex: auto;
}

.container.two {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-height: 150px;
    padding: 40px 18%;
    text-align: center;
    gap:16px;
}

.title{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.icons{
    display:flex;
    justify-content: space-between;
}

.descriptive-icon{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.descriptive-icon img{
    width: 150px;
    height: auto;
    flex: 1 1 0;
}

.descriptive-icon .text{
    justify-content: center;
}

.container.three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 50px 18%;
    justify-content: center;
}

.quote{
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}
.author {
    text-align: end;
    font-weight: 900;
}

.container.four {
    background-color: #3882F6;
    display: flex;
    margin: 6% 12% 6% 12%;
    padding: 40px 80px;
    border-radius: 12px;
    justify-content: center;
}

.text {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
}

.main-text {
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 900;
}

.sub-text {
    color: #E5E7EB;
    font-size: 18px;
}

.container.four button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-color: #E5E7EB;
    border-style: solid;
    font-weight: 600;
    border-radius: 4px;
    width: 25%;
    padding: 10px 0;
    flex: 0.6;
    margin: auto 0 auto auto;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    margin-top: auto;
}